[Unit]
Description=DBLabs Web
Requires=network-online.target
After=network-online.target
After=dblabs-server.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/user/dblabs/hot-restarter.py /home/user/dblabs/scripts/start-web.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
